<h1>Your cart</h1>
<table id="cart">
	<tr>
		<th>Name</th>
		<th>Quantity</th>
		<th>Price</th>
		<th><a href="#">remove all</a></th>
	</tr>
	<tr>
		<td>Lorem Ipsum</td>
		<td>1</td>
		<td>666 EUR</td>
		<td><a href="#">remove</a></td>
	</tr>
	<tr>
		<td>Dolor sit amet</td>
		<td>4</td>
		<td>400 EUR</td>
		<td><a href="#">remove</a></td>
	</tr>
	<tr>
		<td>Consectetur</td>
		<td>3</td>
		<td>32 EUR</td>
		<td><a href="#">remove</a></td>
	</tr>
</table>

<br/>
<br/>

<div id="cart_bottom">
	<strong>Total: 1098 EUR</strong>
	<%= form_tag("/search", :method => "get") do %>
		<%= submit_tag("Checkout") %>
	<% end %>
</div>